<mat-nav-list style="text-align: center;justify-content: center;">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/gridlist">Grid List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/datepicker">Datepicker</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/dialog">Dialog</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/tabs">Tabs</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/menu">Menu </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/chart">Bar-Chart</a>
    <a mat-list-item routerLink="list-item-active" routerLink="/layout/line-chart">Line-Chart</a>
</mat-nav-list>
